.container {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 94px + 3px); /* Tela cheia - tamanho do Header + tamanho da borda */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info {
    width: 60vw;
}

.content-image {
    position: relative;
    width: 40vw;
    aspect-ratio: 16/9 !important;
}

.content {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 169px 40px;
}

.content h3 {
    padding-top: 40px;
    font-size: 46px;
    font-weight: 400;
}

.content p {
    font-size: 18px;
    font-weight: 400;
}

.content img {
    box-sizing: initial;
    border: 4px solid;
    float: right;
}

.slider {
    margin-top: -11vw;
}

@media screen and (max-width: 768px) {
    .content-image {
        display: none;
    }
    .info {
        width: auto;
    }
}

@media screen and (max-width: 425px) {
    .content-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 16px;
    }

    .content-container {
        height: 179px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        padding: 16px;
    }

    .content-container h3 {
        font-size: 18px;
        font-weight: 400;
    }
}