.button {
    border: none;
    border-radius: 6px;
    height: 54px;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

/* Variant Colors */
.blue {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.dark {
    background-color: var(--color-black-dark);
    color: var(--color-white);
    border: 1px solid var(--color-gray-light);
}

.gray {
    background-color: var(--color-black-lighter);
    color: var(--color-black-dark);
}

.gray-light {
    background-color: var(--color-gray-light);
    color: var(--color-black-dark);
}

.transparent {
    background-color: transparent;
    color: var(--color-white);
}

/* Variant Sizes */
.sm {
    width: 180px;
}

.md {
    width: 208px;
}

.icon {
    width: auto;
}

.button:hover {
    filter: brightness(1.2);
}

.dark:hover {
    filter: brightness(0.8);
}

.button:disabled, .button:disabled svg {
    opacity: 0.3;
    cursor: not-allowed;
}

@media screen and (max-width: 425px) {
    .button {
        border: none;
        border-radius: 4px;
        height: 36px;
        font-size: 18px;
        font-weight: 600;
    }

    .sm {
        width: 120px;
    }
    
    .md {
        width: 150px;
    }
}