.container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title {
    width: fit-content;
    border-radius: 6px;
    font-weight: 400;
    white-space: nowrap;
}

.subtitle {
    font-size: 18px;
    font-weight: 300;
}

.sm {
    font-size: 35px;
    padding: 0 24px;
}

.md {
    font-size: 60px;
    padding: 0 24px;
}

@media screen and (max-width:425px) {
    .sm {
        font-size: 16px;
        padding: 4px 16px;
    }
    .subtitle {
        font-size: 12px;
    }
    .title {
        border-radius: 4px;
    }
}