.button-container {
    display: flex;
    width: 100%;
    gap: 40px;
    margin-top: 16px;
}

.button-container a:last-child {
    margin-left: auto;
}

@media screen and (max-width: 425px) {
    .button-container {
        gap: 18px;
    }
}