.container {
  padding: 0 40px;
}

.slider {
  overflow: visible !important;
}

.image-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  aspect-ratio: 16 / 9;

  border-radius: 6px;

  cursor: pointer;
}

@media screen and (max-width:425px) {
  .container {
    padding: 0 15px;
  }
}